.container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: end;
}

.logoImage {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;

  width: 60px;
}

.logoName {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.1;

  font-size: 1.1rem;
}
