.navBarContainer {
  display: flex;

  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 60px;
}

.navLogoContainer {
  display: flex;
  justify-content: center;
  width: 25vw;
}

.navMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: -10px;
  width: 1000px;
  height: 70px;

  background-color: #fbf5de;

  border: solid rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}

nav {
}

nav a {
  position: relative;
  top: 5px;
  /* width: 20%; */
  padding: 50px;

  font-size: 18px;

  text-decoration: none;
  font-weight: 700;
  color: #141415;
  /* background-color: #3d74b6; */
}

.navCTA {
  width: 25vw;
}

/* Nav menu inside the css image of the back of a moving truck */

.movingTruck {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  height: 60px;
  width: 100%;
}

.tailgate {
  position: relative;
  top: 15px;
  height: 100%;
  width: 48vw;
  z-index: 1;

  border: solid rgb(0, 0, 0, 0.1);
  border-radius: 10px;

  background-color: rgb(0, 0, 0, 0.1);
}
