.navBarContainer {
  display: flex;

  position: fixed;
  width: 100vw;
  height: 60px;
}

.navLogoContainer {
  display: flex;
  justify-content: center;
  width: 25vw;
}

.navMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: -10px;
  width: 50vw;
  height: 70px;

  background-color: #fbf5de;

  border: solid rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}

nav {
}

nav a {
  position: relative;
  top: 5px;
  width: 20%;
  padding: 50px;

  font-size: 18px;

  text-decoration: none;
  font-weight: 700;
  color: #141415;
}

.navCTA {
  width: 25vw;
}
