.gridContainer {
  display: grid;
  grid-template-columns: repeat(24, 25px);
  grid-template-rows: repeat(50, 25px);
  gap: 15px;
  padding: 1rem;
  padding-top: 20vh;

  width: 978px;
  margin: 0 auto;
}
